/*  Toolbar icon.  */
#sl-toolbar {
  list-style-image: url(chrome://Synoloader/skin/synoloader24.png);
}
toolbar[iconsize="small"] #sl-toolbar {
  list-style-image: url(chrome://Synoloader/skin/synoloader16.png);
}

/* Overlay panel. */
#sl-toolbar-panel-title {
  font-size: 24px;
  font-weight: bold;
}

#sl-toolbar-panel-label {
  font: normal 24px;
  text-align: center;
}

.toolbar-button {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#sl-custom-url-input {
  height: 35px;
  margin: 0;
}

#sl-custom-url-add {
  list-style-image: url(chrome://Synoloader/skin/add.png);
}

#sl-toolbar-panel-options {
  list-style-image: url(chrome://Synoloader/skin/settings.png);
}

/* List items. */
.sl-item {
  color: #000;
  background-color: #fff;
}

.sl-item:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

.sl-item[selected="true"] {
  background-color: rgba(0,0,0,.1);
}

.sl-item:hover {
  background-color: rgba(0,0,0,.15);
}

.sl-item-info {
  width: 500px;
}

.sl-item-title {
  font-weight: bolder;
}

.sl-item-progress {
  height: 12px;
}

.sl-item-meta {
  font-size: .8em;
}

.sl-item-meta-upload-speed {
  color: #0086e6;
}
.sl-item-meta-download-speed {
  color: #1eb300;
}

.sl-item-resume,
.sl-item-delete {
  cursor: pointer;
}

