
.sl-item-start,
.sl-item-del {
  width:30px;
}

.sl-item-hbox {
  height: 30px;
}

.sl-item-progress {
  height: 10px;
}

.sl-item-title {
  width: 500px;
  text-overflow: ellipsis;
}

prefpane > .content-box,
prefwindow > .paneDeckContainer {
    overflow: visible;
}

#sl-options row {
  line-height: 1.4em;
}

#sl-options row > label {
  line-height: 2em;
}

#sl-connection-status-image[check_status="test"] {
  list-style-image: url(chrome://SynoLoader/skin/test.png);
}
