
.SynoLoader_Item_start {
  min-width:30px;
  width:30px;
}

.SynoLoader_Item_del {
  min-width:30px;
  width:30px;
}

.SynoLoader_Item_hbox {
  height: 30px;
}

.SynoLoader_Item_progress {
  height: 30px;
}

.SynoLoader_Item_title {
  width: 500px;
  text-overflow: ellipsis
}

prefpane > .content-box,
prefwindow > .paneDeckContainer {
    overflow: visible;
}

#SynoLoader_check_connection_image[check_status="test"] {
  list-style-image: url(chrome://SynoLoader/skin/test.png);
}
