/*  skin/toolbar-button.css  */
#synoloader_toolbar_id{
      list-style-image: url("chrome://Synoloader/skin/synoloader.png");
    }
toolbar[iconsize="small"] #synoloader_toolbar_id{
      list-style-image: url("chrome://Synoloader/skin/synoloader_small.png");
    }

#SynoLoader_Setting{
      list-style-image: url("chrome://Synoloader/skin/settings.png");
      width: 35px;
      height: 35px;
      float: right;
    }
    
    
#synoloader_toolbar_panel_lable_id {
      font: normal 24px;
      text-align: center;
}


#synoloader_toolbar_panel_title_id
{
      font-size:24px;
      font-weight:bold;
}